@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    background-image: radial-gradient(50% 50% at 50% 50%, #252525 0%, #000000 120%);
    background-size: 120vw;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
